.escudoBc{
    width: 150px;
    display: inline;
    position: relative;
    left: 50px;
}
h1{
    position: relative;
    display: inline;
} 
.renglonUno{
    position: relative;
    bottom: 30px;
    left: 80px;
}
 .renglonDos{
    position: relative;
    bottom: -15px;
    right: 150px;
    }