footer{
    border: 2px $color-primario solid;
    position: relative;
    top: 10px;
    bottom: 5px;
    nav{
        ul{
            li{
                display: block;
                padding: 1px;
            }
        }
    }
}
// .footer{
//     display: block;
//     padding: 1px;
// }