$mapRedes:(facebook:blue, twitter:lightblue, instagram:violet);

@each $red, $color in $mapRedes {
    .#{$red}{
        color: $color;
    }
}

$estilo:(color:blue, tamFuente:20px);

.agregandoMaps {
  background-color: map-get($map: $estilo , $key:color );
  font-size: map-get($map: $estilo, $key: tamFuente);
}